@use '../utils' as *;

%btn {
  display: inline-block;
  border: 0.2rem solid;
  outline: none;
  background: $main-color;
  color: $light-color;
  cursor: pointer;
  @extend %transition;

  &:hover {
    background: $light-color;
    color: $main-color;
  }
}
.btn-small {
  @extend %btn;
  padding: 0.5rem 1rem;
  font-size: font-size(s);
  border-radius: border-radius(s);
}
.btn-medium {
  @extend %btn;
  padding: 1rem 2rem;
  font-size: font-size(m);
  border-radius: border-radius(m);
}
.btn-large {
  @extend %btn;
  padding: 2rem 4rem;
  font-size: font-size(l);
  border-radius: border-radius(m);
}
